pipeline/emr_pl_src_to_landing_copy1.json
{
	"name": "emr_pl_src_to_landing_copy1",
	"properties": {
		"activities": [
			{
				"name": "lkp_emr_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "generic_adls_flat_file_ds",
						"type": "DatasetReference",
						"parameters": {
							"file_path": "emr",
							"file_name": "load_config.csv",
							"container": "configs"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_emr_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_emr_config').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "File_exists_copy1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"filepath": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"filename": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "File_exists_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('File_exists_copy1').output.exists, true)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Archive_files_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"logSettings": {
												"enableCopyActivityLog": true,
												"copyActivityLogSettings": {
													"logLevel": "Warning",
													"enableReliableLogging": false
												},
												"logLocationSettings": {
													"linkedServiceName": {
														"referenceName": "AzureDataLakeStorage1",
														"type": "LinkedServiceReference"
													},
													"path": "bronze/hosa"
												}
											},
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"filepath": "@item().targetpath",
													"filename": "@split(item().tablename,'.')[1]"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_copy_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"filepath": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"filename": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Archive_files_copy1_copy2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "hosa",
							"wildcardFileName": "providers",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "bronze/hosa"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "generic_adls_parquet_ds",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"filepath": {
								"value": "hosa",
								"type": "Expression"
							},
							"filename": {
								"value": "providers",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "generic_adls_parquet_ds",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"filepath": {
								"value": "@concat('hosa/','/archive')\n",
								"type": "Expression"
							},
							"filename": {
								"value": "providers",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}